@import url('../css/variable.css');
/**********header************/
*{ padding: 0;margin: 0; box-sizing: border-box; background: var(--color-gradient-2);}

.header{display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 5px; 
    position: absolute;
    width: 100%;
}
.ul__menu{ 
    display: flex; 
    gap: 59px; 
    color: var(--color-1);
    justify-content: flex-end;
}
.ul__menu li{ 
    list-style: none;
    font-family: "Montserrat-SemiBold";
    font-size: 17px;
}
.ul__menu li a{
    color: var(--color-1);
    text-decoration: none;
}
.div__search{
    display: flex;
    gap: 18px;
    margin-right: 17px;

}