<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <header class="header">
        <div class="div__logo">
            <img src="../storage/img/logo.png">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="#"> Blog</a> </li>
                <li> <a href="#About">About</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </div>
        <div class="div__search">
            <a href="#"><img src="../storage/img/search.png"></a>
            <a href="#"><img src="../storage/img/profile.png"></a>
        </div>
    </header>
    <main class="main">
        <section class="section__up">
            <div class="div__line">
                <img src="../storage/img/line.png" >
            </div>
                <div class="div__up-menu">
                    <button><h2><a href="#">Lates Blog</a></h2></button>            
                    <h2>Urban Planning</h2>
                    <h2>Graphics Design</h2>
                    <h2>Web Design</h2>
                    <h2>UX/UI Design</h2>
                    <h2>Technology</h2>
                </div>
        </section>
        <section class="section__pag-2">
            <div class="div__photo">
                <img src="../storage/img/edificio-blog.png">
            </div>
            <div class="div__contenido">
                <h3>Urban Planning</h3>
                <h2>Lörem ipsum europlande krohiska panstik, förväntis.p</h2>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
                <button>
                    <a href="#">Read More</a>
                </button>
            </div>
        </section>
        <section class="section__box" id="About">
            <div class="div__box">
                <h1>Recent Posts</h1>
            </div>
            <article class="article__box">
                <div class="div__box-1">
                    <img src="../storage/img/box-1.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
                <div class="div__box-2">
                    <img src="../storage/img/box-2.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
                <div class="div__box-3">
                    <img src="../storage/img/box-3.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
            </article>    
            <article class="article__box-2">
                <div class="div__box-4">
                    <img src="../storage/img/box-4.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
                <div class="div__box-5">
                    <img src="../storage/img/box-5.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
                <div class="div__box-6">
                    <img src="../storage/img/box-6.png">
                    <br>
                    <h2>Lörem ipsum patt karirenyst</h2>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
                </div>
            </article>    
            <section class="section__pie" id="Contact">
                <div class="div__pie">
                    <h1>daily blog</h1>
                    <br>
                    <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
                </div>
                <div class="div__pie-icons">
                    <a href="https://www.instagram.com/" target="_blank"><img src="../storage/img/circle-inst.png"></a>
                    <a href="https://be.com.vn/en/" target="_blank"><img src="../storage/img/circle-be.png"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="../storage/img/circle-in.png"></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../storage/img/circle-face.png"></a>
                    <a href="https://co.pinterest.com/" target="_blank"><img src="../storage/img/circle-p.png"></a>
                </div>
            </section>
    </main>
</body>
</html>