<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <header class="header">
        <div class="div__logo">
            <img src="../storage/img/logo.png">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="#"> Blog</a> </li>
                <li> <a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="div__search">
            <a href="#"><img src="../storage/img/search.png"></a>
            <a href="#"><img src="../storage/img/profile.png"></a>
        </div>
    </header>
    <main class="main">
        <section class="section__up">
            <div class="div__line">
                <img src="../storage/img/line.png" >
            </div>
                <div class="div__up-menu">
                    <button><a href="#"><h2>Lates Blog</h2></a></button>            
                    <h2>Urban Planning</h2>
                    <h2>Graphics Design</h2>
                    <h2>Web Design</h2>
                    <h2>UX/UI Design</h2>
                    <h2>Technology</h2>
                </div>
        </section>
        <section class="section__pag-2">
            <div class="div__photo">
                <img src="../storage/img/edificio-blog.png">
            </div>
            <div class="div__contenido">
                <h3>Urban Planning</h3>
                <h2>Lörem ipsum europlande krohiskap
                    panstik, förväntis.  
                    <br>
                    <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. 
                    <br>
                    <button>
                        <h3>
                            <a href="#">Read More</a>
                        </h3>
                    </button>
            </div>
        </section>
    </main>
</body>
</html>