<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <header class="header">
        <div class="div__logo">
            <img src="../storage/img/logo.png">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="#"> Blog</a> </li>
                <li> <a href="#">About</a>
                </li>
                <li><a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="div__search">
            <a href="#"><img src="../storage/img/search.png"></a>
            <a href="#"><img src="../storage/img/profile.png"></a>
        </div>
    </header>
</body>
</html>